@model everything_birthday.ViewModels.EventEntryViewModel

@{
    ViewBag.Title = "Create Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>(Help me) Save the Date!</h2>
<p>Just give us the important details below.</p>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />

    <p>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      
            @Html.EditorFor(model => model.EventEntry.CelebrantName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name(s)" } })
            @Html.ValidationMessageFor(model => model.EventEntry.
       CelebrantName, "", new { @class = "text-danger" })
      
    
        celebrates their
   
    
            @Html.DropDownListFor(model => model.EventEntry.EventTypeId,
                                                new SelectList(Model.EventTypes, "EventTypeId", "EventTypeName"), "- Select Event -" )
       
    

    every year on 

            @Html.DropDownListFor(model => model.EventEntry.MonthId,
                                                new SelectList(Model.Months, "MonthId", "MonthName"), "- Select Month -" )
       
    
            @Html.DropDownListFor(model => model.EventEntry.DayId,
                                                new SelectList(Model.Days, "DayId", "DayNumber"), "- Select Day -" )
       

        .
        </div>
        </p>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Set Reminder" class="btn btn-default" />
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
